<%- include('partials/header') %>
    <h1 class="text-danger">ACCUEIL / Liste de films</h1>
    <ul>
      <% movies.forEach(function(movie) { %>
        <li>
          <a href="/movie/<%= movie.url %>"><%= movie.title %></a>
          <a href="/search"> rechercher </a>
          <a href="/login"> login </a>
        </li>
      <% }); %>
    </ul>
    
   
  </body>
</html>
