<%- include('partials/header') %>
    <h1 class="text-danger">ACCUEIL / Liste de films</h1>
    <ul>
      <%# Boucle JS avec ejs %> <% for(let movie of movies) {%>

      <li>
        <%# Affichage de variable js%>
        <a href="/movie/<%=movie.url%>"><%= movie.title %></a>
      </li>
      <%}%>
    </ul>
    <ul></ul>
  </body>
</html>
